:root {
    --yellow: #ffbb00;
    --yellow2: #ffc146;

    --test: #1e96ca;
    
    --accent: #bfe5f5;
    --accent2: #eaf2f9;
    
    --white-hover: #ffffff25;
    --black-hover: #00000015;

    --white-transparent: #ffffff6b;
    --black-transparent: #0000006b;


    --white: #ffffff;
    --black: #000000;

    --radius-card: 16px;
    --max-radius: 28px;

    --scale-large: 1.075;
    --scale-medium: 1.025;
    --scale-small: 1.01;
}

body{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 32px 0px;

    background: linear-gradient(180deg, var(--accent) 0%, var(--accent2) 75%, var(--white) 100%);
    font-family: system-ui; 
}

a{
    line-height: 0em;
}

h1{
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
}
nav{
    display: flex;
    position: sticky;
    min-width: 50vw;
    max-width: 75vw;
    z-index: 10; 
    top: 32px;
    margin: 0px 0px 64px 0px;

    padding: 4px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px 64px;
    
    border-radius: var(--max-radius);
    background: var(--yellow);
    transition: transform 0.5s ease, background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

nav:hover{
    background-color: var(--yellow2);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transform: scale(var(--scale-medium));    
}

.nav-icon{
    max-width: 172px;
    height: 32px;
}

.nav-items{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2px;

    border-radius: var(--max-radius);
    transition: background-color 0.3s ease;
}

.nav-items > div{
    display: flex;  
    justify-content: center;
    align-items: center;
    padding: 8px;

    border-radius: var(--max-radius);
    transition: background-color 0.3s ease;
}

.links{
    transition: transform 0.5s ease background-color 0.3s ease;
}

.links:hover{
    background-color: var(--black-hover);
}

.links > div:hover{
    background-color: var(--accent);
    transform: scale(1.05);    
}

.card-group{
    display: flex;
    min-width: 50vw;
    width: 90vw;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    gap: 8px;
    flex-wrap: wrap;
    margin: 0px 0px 32px 0px;

}

.card{
    display: flex;
    padding: 8px;
    min-width: 35dvw;
    max-width: 90dvw;
    /* max-height: 60dvh; */
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 0 0;

    cursor: default;
    border-radius: var(--radius-card);
    background: var(--white-transparent);
    transition: transform 0.5s ease, background-color 0.3s ease, box-shadow 1s ease;
}

.feat-photo{
    min-width: 300px;
    width: 60dvw;
    height: 70dvh;
    max-width: 90dvw;    
    object-fit: cover;

}

.card:hover{
    background: var(--white);
    transform: scale(var(--scale-small));    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.card > .card{
    min-height: fit-content;
    border-radius: 8px;
    background: var(--white-transparent);
}

